.search_form {
    text-align: center;
}

.input_filter {
    margin: 0% 2% 0%;
}

.results_count {
    padding-left: 5%;
}

.search_table {
    margin: 0% 5% 5%;
}

.item_img{
height: 64px;
  width: 64px;
}

th, td ,thead{

    /*font-style: italic;*/
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    width: 3%;
}
.info{
    margin: 0% 5% 0%;
}
.bold_text{
    font-weight: bold;
}