.search_form {
    margin: 2%;
    text-align: center;
}

.input_filter {
    margin: 2%;
}

.results_count {
    padding-left: 5%;
}

.search_table {
    margin: 0% 5% 5%;
}

.item_img{
height: 64px;
  width: 64px;
}

th, td {

    font-style: italic;
    width: 3%;
}
.info{
    margin: 5%;
}
.bold_text{
    font-weight: bold;
}