{% extends "base.html" %}
{% block title %}
    Main
{% endblock %}
<body>
{% block content %}

    <div class="search_form">
        <form>
            <input class="input_filter" type="text" id="item_name" placeholder="item_name...">
            <input class="input_filter" type="text" id="currency_name" placeholder="currency_name...">
        </form>
    </div>

    <div id="search_results"></div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div class="info">
        <p>
            {% if rust_items_count %}
                Total Rust Items: <b class="bold_text">{{ rust_items_count }}</b>
            {% else %}
                You should update base of rust skins
            {% endif %}
            <a href="/update_items">UPDATE</a></p>
        <p>{% if shops_count or sell_orders_count %}
            Total <b class="bold_text">{{ shops_count }}</b> Shops with <b class="bold_text">{{ sell_orders_count }}</b> Sell Orders
        {% else %}
            You should update base of shops -
        {% endif %}<a href="/update_shops">UPDATE</a></p>
    </div>

{% endblock %}
</body>
</html>